<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Opac</th>
      <th>Category</th>
      <th>Value book</th>
      <th>Title</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.opac_id %></td>
        <td><%= order.category_id %></td>
        <td><%= order.value_book %></td>
        <td><%= order.title %></td>
        <td><%= order.comment %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
