<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Auther:</strong>
  <%= @book.auther %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @book.outline %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Opac:</strong>
  <%= @book.opac_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @book.value %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
