# coding: utf-8

<h1>Opac+ タグ一覧</h1>

<p>

<%= link_to 'タグ追加', new_tag_path %>

<p>

<table border='1'>
  <tr>
    <th>表示順序</th>
    <th>名前</th>
    <th>有効状態</th>
    <th>編集</th>
    <th>削除</th>
  </tr>


<% @tags.each do |tag| %>  <tr>
    <td><%= tag.priority %></td>
    <td><%= link_to tag.name, tag_path(tag) %></td>
    <td>
      <% if tag.enabled %>
        有効
      <% else %>
        無効
      <% end %>

    </td>
    <td><%= link_to '編集', edit_tag_path(tag) %></td>
    <td><%= link_to '削除', tag, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
  </tr>
<% end %>
</table>

<br />
