<h1>Listing events</h1>



<%= link_to 'New Event', new_event_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>
    <th>Photo</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= event.title %></td>
    <td><%= event.intro %></td>
    <td><%= image_tag event.photo.url, :width=>'50' %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
