
<% #coding: utf-8 %>

<p>
  <b>日付:</b>
  <%= @event.date %>
</p>
<p>
  <b>タイトル:</b>
  <%= @event.title %>
</p>
<p>
  <b>内容:</b>
  <%= @event.intro %>
</p>
<p>
  <b>写真:</b>
  <%= image_tag @event.photo.url, :width=>'50' %>
</p>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to 'ホーム', events_path %>
