<h1><%= @book_page.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book_page.title %>
</p>

<p>
  <b>Outline:</b>
  <%= @book_page.outline %>
</p>

<p>
  <b>Isbn10:</b>
  <%= @book_page.isbn10 %>
</p>

<p>
  <b>Isbn13:</b>
  <%= @book_page.isbn13 %>
</p>

<p>
  <b>Materialid:</b>
  <%= @book_page.materialid %>
</p>

<p>
  <b>Value:</b>
  <%= @book_page.value %>
</p>

<%= link_to 'back', book_pages_path %>


