# coding: utf-8

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"
    <%= f.label :タイトル %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :著者 %><br />
    <%= f.text_field :auther %>
  </div>
  <div class="field">
    <%= f.label :あらすじ %><br />
    <%= f.text_area :outline %>
  </div>
  <div class="field">
    <%= f.label :isbn10 %><br />
    <%= f.text_field :isbn10 %>
  </div>
  <div class="field">
    <%= f.label :isbn13 %><br />
    <%= f.text_field :isbn13 %>
  </div>
  <div class="field">
    <%= f.label :資料ID %><br />
    <%= f.text_field :opac_id %>
  </div>
  <div class="field">
    <%= f.label :評価 %><br />
    <%= f.select :value, [['1'], ['2'], ['3'], ['4'], ['5']]%>
  </div>
  <div class="field">
    <%= f.label :親カテゴリ %><br />
    <%= f.select :category_id, Category.all.map{|category| [category.name, category.id]}%>
  </div>
  <div class="field">
    <%= f.label  :子カテゴリ %><br />
    <%= f.select :child_category_id, ChildCategory.all.map{|child_category| [child_category.name, child_category.id]}%>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label  :タグ1 %><br />
    <%= f.select :tag0, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ2 %><br />
    <%= f.select :tag1, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ3 %><br />
    <%= f.select :tag2, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ4 %><br />
    <%= f.select :tag3, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ5 %><br />
    <%= f.select :tag4, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ6 %><br />
    <%= f.select :tag5, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ7 %><br />
    <%= f.select :tag6, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label  :タグ8 %><br />
    <%= f.select :tag7, Tag.all.map{|tag| [tag.name, tag.name]}, :include_blank => true %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
