<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :isbn10 %><br />
    <%= f.number_field :isbn10 %>
  </div>
  <div class="field">
    <%= f.label :isbn13 %><br />
    <%= f.number_field :isbn13 %>
  </div>
  <div class="field">
    <%= f.label :opac_id %><br />
    <%= f.number_field :opac_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "送信" %>
  </div>
<% end %>
