# coding: utf-8

<h1>蔵書詳細</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @book.title %>
</p>

<p>
  <b>ISBN10:</b>
  <%= @book.isbn10 %>
</p>

<p>
  <b>ISBN13:</b>
  <%= @book.isbn13 %>
</p>

<p>
  <b>OpacID:</b>
  <%= @book.opac_id %>
</p>

<p>
  <b>評価:</b>
  <%= @book.value %>
</p>


<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
