# coding: utf-8

<%= simple_form_for(@tag, 
html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label(
        :name,
        label: '名前&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.text_field(
          :name,
          autofocus: true,
          class: 'form-control'
        ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
        :intro,
        label: '説明&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.text_area(
          :intro,
          class: 'form-control'
        ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
        :priority,
        label: '表示順序&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.number_field(
          :priority,
          class: 'form-control'
        ) %>
    </div>
  </div>
  
    <div class="form-group">
    <%= f.label(
        :enabled,
        label: '有効状態&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.check_box(
          :enabled
        ) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <%= f.button :submit, '送信', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>