# coding: utf-8

<div class="panel-heading">タグ一覧</div>

<div class="panel-body">
  
  <p><%= link_to 'タグ追加', new_tag_path %>| <%= link_to 'タグ追加承認', request_tags_path %></p>
  
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>表示順序</th>
        <th>名前</th>
        <th>有効状態</th>
        <th>編集</th>
        <th>削除</th>
      </tr>


    <% @tags.each do |tag| %>  <tr>
      <% if tag.request %>
        <td><%= tag.priority %></td>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td>
          <% if tag.enabled %>
            有効
          <% else %>
            無効
          <% end %>

        </td>
        <td><%= link_to '編集', edit_tag_path(tag) %></td>
        <td><%= link_to '削除', tag, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
    <% end %>
    </table>
  </div>
  
  <br />
</div>
<%= javascript_include_tag 'cms_books' %>