# coding: utf-8
<div class="panel-heading">タグ追加承認</div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <div class="table-container">
    <table class="table table-striped">
    	<tr>
    		<th>名前</th>
    		<th>承認</th>
    		<th>削除</th>
    	</tr>

    	<% Tag.all.each do |tag| %>
    		<% if tag.request == false %>
    		<tr>
    			<td><%= tag.name %></td>
    			<th><%= link_to '承認', tag_path(tag), :method => :pute %></th>
    			<th><%= link_to '削除', tag, :confirm => 'このタグを削除しますか？', :method => :delete %></th>
    		</tr>
    		<% end %>
    	<% end %>
    </table>
  </div>
  
  <p><%= link_to '戻る', tags_path %></p>
</div>

