# coding: utf-8

<div class="panel-heading">タグ詳細「<%= @tag.name %>」</div>

<div class="panel-body">

  <form class="form-horizontal show-page" role="form">
    <div class="form-group">
      <label class="control-label col-sm-3">名前:&nbsp;</label>
      <div class="col-sm-8"><%= @tag.name %></div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">説明:&nbsp;</label>
      <div class="col-sm-8"><%= @tag.intro %></div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">表示順序:&nbsp;</label>
      <div class="col-sm-8"><%= @tag.priority %></div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">有効状態:&nbsp;</label>
      <div class="col-sm-8"><%= @tag.enabled ? '有効' : '無効' %></div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3">承認状態:&nbsp;</label>
      <div class="col-sm-8"><%= @tag.request ? '承認済み' : '未承認' %></div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12 text-center">
        <input type="button" value="編集" class="btn btn-default" onclick="location.href = '<%= edit_tag_path(@tag) %>'">
      </div>
    </div>
  </form>
  
  <%= link_to '戻る', tags_path %>
</div>

<%= javascript_include_tag 'cms_books' %>