<div class="row">
	<div class="col-md-8">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Title</th>
					<th>Comments</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
				<tr id="post_<%= post.id %>">
					<td><%= link_to post.title, post_path(post) %></td>
					<td><%= post.comments.size %></td>
					<td><%= link_to 'Click', edit_post_path(post) %></td>
					<td><%= link_to 'Click', post, :confirm=> 'Sure?',
					:method => :delete,
					:remote => true %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		Calendar.
	</div>
</div>