<div class="list-group cms-sidemenu" id="cms_sidemenu">
	<a href="<%= cms_top_main_path %>" class="list-group-item">
		メインメニュー
	</a>
	
	<a href="" class="list-group-item">
		イベント編集
	</a>
	
	<a href="#" class="list-group-item">
		お知らせ編集
	</a>
	
	<a href="#" class="list-group-item">
		カレンダー編集
	</a>
	
	<a href="#" class="list-group-item">
		学位論文編集
	</a>
	
	
	<a href="<%= cms_top_books_path %>" class="list-group-item">
		蔵書検索管理
	</a>
	
	<div class="hide cms-sidemenu-submenu" id="books_menu">
		<a href="<%= cms_books_path %>" class="list-group-item">蔵書編集</a>
<!--		<a href="<%= %>" class="list-group-item">カテゴリ</a>-->
	</div>
	
	<a href="<%=  %>" class="list-group-item">
		設定
	</a>
	
	<div class="hide cms-sidemenu-submenu" id="config_menu">
		<a href="<%= %>" class="list-group-item">
			ヘッダとフッタの設定
		</a>
		
		<a href="#" class="list-group-item">
			各種ページの設定
		</a>
		
		<a href="#" class="list-group-item">
			ログイン情報の変更
		</a>
	</div>
</div>
