# coding: utf-8
<div class="panel-heading">削除履歴</div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>No.</th>
        <th>タイトル</th>
        <th>いんね</th>
        <th>よくないね</th>
        <th>蔵書</th>
        <th>蔵書評価</th>
        <th>日時</th>
        <th>復元</th>
        <th>削除</th>
      </tr>
      
      <% @reviews.each.with_index do |review, i| %>
        <tr>
          <td><%= i.next %>
          <td><%= link_to review.title, review_path(review) %></td>
          <td><%= review.value_good %></td>
          <td><%= review.value_bad %></td>
          <td><%= review.book.title %></td>
          <td><%= review.value_book %></td>
          <td><%= review.date %></td>
          <td><%= link_to '復元', review_path(review), :method => :pute %></td>
          <td><%= link_to '削除', review, :confirm => 'このレビューを削除しますか？', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <%= link_to '戻る', reviews_path %>
</div>

<%= javascript_include_tag 'cms_books' %>