# coding: utf-8

<h1>レビュー編集</h1>

<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :コメント %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :いいね %><br />
    <%= f.number_field :value_good %>
  </div>
  <div class="field">
    <%= f.label :よくないね %><br />
    <%= f.number_field :value_bad %>
  </div>
  <div class="field">
    <%= f.label :公開状態 %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :日時 %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :蔵書 %><br />
    <%= f.select :book_id, Book.all.map{|book| [book.title, book.id]}%>
  </div>
   <div class="field">
    <%= f.label :蔵書評価 %><br />
    <%= f.select :value_book, [['1'], ['2'], ['3'], ['4'], ['5']]%>
  </div>
  <div class="field">
    <%= f.label :削除フラグ %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '詳細', @review %> |
<%= link_to '一覧', reviews_path %>

<%= javascript_include_tag 'cms_books' %>