# coding: utf-8

<h1>レビュー追加</h1>

<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :コメント %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :日時 %><br />
    <%= f.datetime_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '戻る', reviews_path %>
