# coding: utf-8

<div class="panel-heading"><%= @review.title %> 詳細</div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <form class="form-horizontal show-page" role="form">
    <div class="form-group">
        <label class="control-label col-sm-3">タイトル&nbsp;:</label>
        <div class="col-sm-8"><%= @review.title %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">コメント&nbsp;:</label>
        <div class="col-sm-8"><%= @review.comment %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">いいね&nbsp;:</label>
        <div class="col-sm-8"><%= @review.value_good %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">よくないね&nbsp;:</label>
        <div class="col-sm-8"><%= @review.value_bad %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">公開状態&nbsp;:</label>
        <div class="col-sm-8"><%= @review.enabled ? '公開' : '非公開' %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">日付&nbsp;:</label>
        <div class="col-sm-8"><%= @review.date %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">蔵書&nbsp;:</label>
        <div class="col-sm-8"><%= @review.book.title %></div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-3">蔵書評価&nbsp;:</label>
        <div class="col-sm-8"><%= @review.value_book %></div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-12 text-center">
        <input type="button" value="編集" class="btn btn-default" onclick="location.href = '<%= edit_review_path(@review) %>'">
      </div>
    </div>
  </form>
  
  <p><%= link_to '戻る', reviews_path %></p>
</div>

<%= javascript_include_tag 'cms_books' %>