# coding: utf-8

<div class="panel-heading">学群編集ページ</div>

<div class="panel-body">

<p>登録されている学群の編集ができます。</p>
<p class="well well-sm fadeout-msg"><%= notice %></p>

<div class="table-container">
<table class="table table-striped">

	<tr>
		<th>No.</th>
		<th>学群名</font></th>
		<th>編集</th>
		<th>削除</th>
	</tr>
	<% @faculties.each.with_index(1) do |faculty, index| %>
		<tr>
			<td><%= index %></td>
			<td><%= faculty.name %></td>
			<td><%= link_to'編集', edit_faculty_path(faculty) %></td>
			<td><%= link_to'削除', faculty, :confirm => '削除しますか？',
											:method => :delete %></td>
		</tr>
	<% end %>
</table>
</div>

<br>

<%= link_to '新規登録', new_faculty_path %>

<br><br>

<%= link_to_function '戻る', 'history.back()' %>

</div>

<%= javascript_include_tag 'cms_theses' %>