<div class="panel-heading">蔵書検索管理</div>

<div class="panel-body cms-menu">
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= books_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= books_path %>">蔵書編集</a></h3>
					<p>蔵書編集のページの説明を書きます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= categories_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= books_path %>">カテゴリ編集</a></h3>
					<p>カテゴリ編集のページの説明を書きます。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= tags_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= books_path %>">タグ編集</a></h3>
					<p>タグ編集のページの説明を書きます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= reviews_path %>" class="thumbnail">
					<img data-src="holder.js/100%x80" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= reviews_path %>">レビュー編集</a></h3>
					<p>レビュー編集のページの説明を書きます。</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'cms_books' %>