<div class="panel-heading">メインメニュー</div>

<div class="panel-body cms-menu">
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= events_path %>" class="thumbnail">
					<img src="/assets/event.png" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= events_path %>">イベント編集</a></h3>
					<p>イベントの追加/削除が行えます。</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= news_index_path %>" class="thumbnail">
					<img src="/assets/news.png" alt="...">
				</a>
				
				<div class="caption">
					<h3><a href="<%= events_path %>">お知らせ編集</a></h3>
					<p>お知らせの追加/削除が行えます。</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= cms_top_theses_path %>" class="thumbnail">
					<img src="/assets/these.png" alt="...">
				</a>
				
				<div class="caption">
					<h3><a href="<%= cms_top_theses_path %>">学位論文編集</a></h3>
					<p>学位論文、学群、研究室の追加/削除が行えます。
					</p>
				</div>
			</div>
		</div>
    
    <div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= cms_top_books_path %>" class="thumbnail">
					<img src="/assets/book.png" alt="">
				</a>
				
				<div class="caption">
					<h3><a href="<%= cms_top_books_path %>">蔵書検索管理</a></h3>
					<p>蔵書、カテゴリ、研究室の追加/削除が行えます。
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="cms-menu-item">
				<a href="<%= cms_top_config_path %>" class="thumbnail">
					<img src="/assets/setting.png" alt="...">
				</a>
				
				<div class="caption">
					<h3><a href="<%= cms_top_config_path %>">設定</a></h3>
					<p>ユーザ情報、静的ページ等に関する設定が行えます。</p>
				</div>
			</div>
		</div>
	</div>
</div>