<div class="row">
  <div class="col-md-8">

<!-- tab menu -->
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#news" data-toggle="tab">お知らせ</a></li>
        <li><a href="#ivent" data-toggle="tab">イベント</a></li>
        <li><a href="#newbook" data-toggle="tab">新着図書</a></li>
      </ul>
    </div>

<!-- tab contents - news -->
    <div class="tab-content">
      <div class="tab-pane active" id="news">
        <ul class="media-list">
          <% Schedule.where(:type => News).reverse_order.first(3).each do |schedule| %>

            <li class="media">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to (schedule.title), :controller => 'tops', :action => 'show_news', :id => schedule.id %>
                </div>
                <div class="panel-body">
                  <div class="pull-left">
                    <% if (schedule.photo.url == "/photos/original/missing.png") then %>
                    <% else %>
                      <%= image_tag schedule.photo.url, :width => '50', :alt => "image" %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    更新日 ： <%= schedule.date.strftime("%Y年 %m月 %d日") %><br>
                    内容 ： <%= br(schedule.intro) %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <p class="pull-right">
          <%= link_to "過去のお知らせ", :controller => "tops", :action => "index_news" %>
        </p>
      </div>

<!-- tab contents - ivent -->
      <div class="tab-pane" id="ivent">
        <ul class="media-list">
          <% Schedule.where(:type => Event).reverse_order.first(3).each do |schedule| %>
            <li class="media">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to (schedule.title), schedule %>
                </div>
                <div class="panel-body">
                  <div class="pull-left">
                    <% if (schedule.photo.url == "/photos/original/missing.png") then %>
                    <% else %>
                      <%= image_tag schedule.photo.url, :width => '50', :alt => "image" %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    更新日 ： <%= schedule.date.strftime("%Y年 %m月 %d日") %><br>
                    内容 ： <%= br(schedule.intro) %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <p class="pull-right">
          <%= link_to "過去のイベント", :controller => "tops", :action => "index_event" %>
        </p>
      </div>

<!-- tab contents - new book -->
      <div class="tab-pane" id="newbook">
        <ul class="media-list">
          <% Book.find(:all , :order => "created_at DESC",:limit => 3).each do |books| %>
            <li class="media">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to books.title, opacplus_bookinfo_path(books), :id => books.id %>
                </div>
                <div class="panel-body">
                  <div class="pull-left">
                    <% if (books.photo.url == "/photos/original/missing.png") then %>
                    <% else %>
                      <%= image_tag books.photo.url, :width => '50', :alt => "image" %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    著者 ： <%= books.auther %><br>
                    説明 ： <%= br(books.outline) %>
                  </div>
                </div>
              </div>
            </li>
        <% end %>

<!-- tab contents - modal window -->
<!--
        <a data-toggle="modal" href="#modal" class="btn btn-primary">
          show me!
        </a>

        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                My modal
              </div>
              <div class="modal-body">
                Hello World!
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary">OK</button>
              </div>
            </div>
          </div>
        </div>
-->

      </div>
    </div>
  </div>

<!-- calendar -->
  <div class="col-md-4 hidden-sm hidden-xs">
    <div class="well">
      <h3>Calendar</h3>
      <div id="calendar_view">
        <%= image_tag ("cal.png"), :alt => "calendar" %>
      </div> 
    </div>
  </div>
</div>
