# coding: utf-8

<h1><%= @review.title %> 詳細</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>蔵書:</b>
  <%= @review.book.title %>
</p>

<p>
  <b>蔵書評価:</b>
  <%= @review.value_book %>
</p>

<p>
  <b>タイトル:</b>
  <%= @review.title %>
</p>

<p>
  <b>コメント:</b>
  <%= @review.comment %>
</p>

<p>
  <b>いいね:</b>
  <%= @review.value_good %>
</p>

<p>
  <b>よくないね:</b>
  <%= @review.value_bad %>
</p>

<p>
  <b>公開状態:</b>
  <% if @review.enabled %>
    公開
  <% else %>
    非公開
  <% end %>
</p>

<p>
  <b>日時:</b>
  <%= @review.created_at.to_time.strftime('%Y/%m/%d') %>
<p>
</p>

<p>
  <b>承認:</b>
    <% if @review.request %>
      承認済み
    <% else %>
      未承認
    <% end %>
</p>


<%= link_to '編集', edit_review_path(@review) %> |
<%= link_to '戻る', reviews_path %>
