<% #coding: utf-8%>

<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :コメント %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :いいね %><br>
    <%= f.number_field :value_good %>
  </div>
  <div class="field">
    <%= f.label :残念 %><br>
    <%= f.number_field :value_bad %>
  </div>
  <div class="field">
    <%= f.label :本の評価 %><br>
    <%= f.number_field :value_book %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :日付 %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :蔵書ID %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br>
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
