<% #coding: utf-8%>
<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>いいね:</strong>
  <%= @review.value_good %>
</p>

<p>
  <strong>よくないね:</strong>
  <%= @review.value_bad %>
</p>

<p>
  <strong>本の評価:</strong>
  <%= @review.value_book %>
</p>


<p>
  <strong>日付:</strong>
  <%= @review.date %>
</p>

<p>
  <strong>蔵書ID:</strong>
  <%= @review.book %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @review.enabled %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @review.deleted %>
</p>

<%= link_to '編集', edit_review_path(@review) %> |
<%= link_to '戻る', reviews_path %>
