  <%= simple_form_for(
        @book_new,
        html: { class: 'form-horizontal', role: 'form' },
        
        # 以下2行で、bookTops コントローラの create メソッドに送信するように指定
        # opacplus_books_path は routes.rb 参照
        url: opacplus_index_path,
        action: :post
      ) do |f|
  %>
    <% if @book_new.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book_new.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
        <% @book_new.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label(
        :title,
        label: 'タイトル&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.text_field(
          :title,
          autofocus: true,
          class: 'form-control'
        ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :auther,
          label: '作者&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.text_field(
            :auther,
            class: 'form-control'
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :outline,
          label: 'あらすじ&nbsp;:',
          class: 'control-label col-sm-3'
          ) %>
    
    <div class="col-sm-8">
      <%= f.text_area(
            :outline,
            rows: 10,
            class: 'form-control'
            ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :isbn10,
          label: 'ISBN 10&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.text_field(
            :isbn10,
            class: 'form-control'
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :isbn13,
          label: 'ISBN 13&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.text_field(
            :isbn13,
            class: 'form-control'
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :opac_id,
          label: '資料 ID&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.text_field(
            :opac_id,
            class: 'form-control'
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :value,
          label: '評価&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.select(
            :value,
            [['1'], ['2'], ['3'], ['4'], ['5']],
            {}, { class: 'form-control' }
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :category_id,
          label: '親カテゴリ&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.select(
            :category_id,
            Category.all.map{|category| [category.name, category.id]},
            {}, { class: 'form-control', id: 'categories' }
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :child_category_id,
          label: '子カテゴリ&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.select(
            :child_category_id,
            ChildCategory.all.map{|child_category| [child_category.name, child_category.id]},
            {}, { class: 'form-control', id: 'child_categories' }
          ) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(
          :phtoto,
          label: '画像&nbsp;:',
          class: 'control-label col-sm-3'
        ) %>
    <div class="col-sm-8">
      <%= f.file_field(
            :photo,
            class: 'form-control'
          ) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 text-center">
      <%= f.button :submit, 'この内容で本を追加する', class: 'btn btn-default' %>
    </div>
  </div>
  <% end %>