<%= simple_form_for(
      @tag_new,
      remote: true,
      html: { class: 'form-horizontal', role: 'form', id: 'tag_new_form' },
      
      # 以下2行で、ReviewTops コントローラの create メソッドに送信するように指定
      # opacplus_reviews_path は routes.rb 参照
      url: opacplus_create_tag_path,
      action: :post
    ) do |f|
%>
  <% if @tag_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_new.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @tag_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field(:priority) %>
  
  <div class="form-group">
    <%= f.label(
        :name,
        label: '名前&nbsp;:',
        class: 'control-label col-sm-3'
      ) %>
    
    <div class="col-sm-8">
      <%= f.text_field(
          :name,
          autofocus: true,
          class: 'form-control',
          id: 'tag_new_name'
        ) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <%= f.button :submit, 'この内容でタグを追加する', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script>

$('#tag_new_form').on('ajax:success', function(e, data, status, xhr) {
  $('#tag_new').modal('hide');            // 現在のダイアログを非表示に
  $('#tag_new_name').val('');             // フォームの値を削除
  $('#tag_created_name').text(data.name); // ダイアログに値を設定
  $('#tag_created').modal('show');        // ダイアログを表示
});
</script>