<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', opacplus_index_path %>
        </button>
        <h3 class="pull-right">OPAC+とは？</h3>
      </div>

<!-- inner contents - opacplus introduction -->
      <div class="inner_contents">
        <p>
          OPAC+は、図書館の利用者の皆さまが求める本に出会えるように支援するシステムです。カテゴリからの蔵書検索と、利用者によるレビューの閲覧と投稿ができます。
        </p>
        <p>
          左のサイドバーより、お好きなカテゴリから本を探してみて下さい。図書館の利用者・管理者による信頼できるレビューや評価が閲覧できます。また、下部のボタンからは読み終わった本に対してレビューを投稿し、他の利用者に良い本を教えることもできます。
        </p>
        <p>
          お問い合せは、高知工科大学 附属情報図書館 受付まで。
        </p>
      </div>

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', opacplus_index_path %>
        </button>
        <h3 class="pull-right">本のレビューを投稿する</h3>
      </div>

<!-- inner contents - review -->
      <div class="inner_contents">
        <p>
          以下のボタンから、図書館利用者におすすめしたい本の評価やレビューを送信することができます。
        </p>
        <p>
          レビューは図書館のシステムに送信され、職員による確認の後に投稿されます。
          反映までには時間がかかりますので、ご了承ください。
        </p>
        <div class="text-center">
          <a data-toggle="modal" href="#modal" class="btn btn-primary">
            本のレビューを書く
          </a>
        </div>

        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                本のレビューを書く
              </div>
              <div class="modal-body">
                <%= render 'review_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', opacplus_index_path %>
        </button>
        <h3 class="pull-right">注目のタグから探す</h3>
      </div>

<!-- inner contents - tag -->
      <div class="inner_contents">
        <% @tags.each do |tag| %>
          <span class="label label-default">
            <%= link_to tag.name, tag_path(tag) %>
          </span>
        <% end %>
      </div>

    </div>
  </div>

</div>