<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default" onclick="location.href = '<%= opacplus_index_path %>'">
            戻る
        </button>
        <h3 class="pull-right">Category : <%= @child_categories.name %></h3>
      </div>

      <ul class="media-list">

<!-- inner contents - book information -->
        <div class="book_info">
          <li class="media">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= @books.title %>
              </div>
              <div class="panel-body">
                <div class="pull-left">
                  <% if (@books.photo.url == "/photos/original/missing.png") then %>
                  <% else %>
                  <%= image_tag @books.photo.url, :width => '50', :alt => "image" %>
                  <% end %>
                </div>
                <div class="media-body">
                  <div class="list">
                    <ul>
                      <li>
                        著者 ： <%= @books.auther %>
                      </li>
                      <li>
                        評価 ： <% @books.value.times do %>★<% end %><% (5-@books.value).times do %>☆<% end %>
                      </li>
                    </ul>
                    <ul>
                      <%= br(@books.outline) %>
                    </ul>
                  <ul>
                  この本に付いているタグ : <br>
                  <div class="text-center">
                  <% 8.times do |i| %>
                    <% if (@books.send("tag" + i.to_s)) then %>
                      <span class="label label-default">
                        <a href="<%= opacplus_tag_path(:name => @books.send('tag' + i.to_s)) %>"><%= @books.send("tag" + i.to_s) %></a>
                      </span>
                    <% end %>
                  <% end %>
                </div>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>

<!-- inner contents - tag and review modal -->
    <div class="tag_and_review">
      <div class="row">
        <a data-toggle="modal" href="#tag_modal" class="btn btn-primary col-md-6">
          本にタグをつける
        </a>
        <a data-toggle="modal" href="#review_modal" class="btn btn-primary col-md-6">
          本のレビューを書く
        </a>
      </div>

      <div class="modal fade" id="tag_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              本にタグをつける
            </div>
            <div class="modal-body">
              <%= render 'tag_form' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="review_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              本のレビューを書く
            </div>
            <div class="modal-body">
              <%= render 'review_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- inner contents - book review -->
        <div class="book_review">
          <li class="media">
            <div class="panel panel-default">
              <% @books.reviews.each do |review| %>
              <div class="panel-heading">
                <%= review.title %> ( <%= review.created_at.strftime("%Y/%m/%d %H:%M") %> )
              </div>
              <div class="panel-body">
                <div class="media-body">
                  この本に対する評価 : <% review.value_book.times do %>★<% end %><% (5-review.value_book).times do %>☆<% end %><br>
                  <%= br(review.comment) %><br>
                  <div class="review_value">
                    <span id="review_<%= review.id %>_all"><%= review.value_good + review.value_bad %></span>人中
                    <span id="review_<%= review.id %>_0"><%= review.value_good %></span>人が「このレビューは参考になった」と言っています<br>
                    <span id="review_<%= review.id %>_1"><%= review.value_bad %></span>人が「このレビューは参考にならない」と言っています<br>
                    <br>
                    <div class="text-center">
                      このレビューは参考になりましたか？
                      <button type="button" class="btn btn-default review-value" data-review-id="<%= review.id %>" data-value="0" data-url="<%= opacplus_review_value_path(:review_id => review.id, :value => 0, :format => :json) %>">
                        はい
                      </button>
                      <button type="button" class="btn btn-default review-value" data-review-id="<%= review.id %>" data-value="1" data-url="<%= opacplus_review_value_path(:review_id => review.id, :value => 1, :format => :json) %>">
                       いいえ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </li>
        </div>
      </ul>

    </div>
  </div>
</div>

<script>
// レビューの参考になる、ならないの処理

!function(){
  var reviewValueElements = $('.review-value');
  var valueStrings = ['参考になった', '参考にならなかった'];
  
  function sendReviewValue(event) {
    var element = $(event.target);
    var parentElement = element.parent();
    var url = $(element).attr('data-url');
    var value = parseInt($(element).attr('data-value'), 10);
    var reviewId = $(element).attr('data-review-id');
    var valueString = valueStrings[value];
    
    parentElement.text('送信しています...');
    
    $.ajax(url)
      .done(function() {
        parentElement.text('レビューを評価しました! (' + valueString + ')');
        incrementElement('review_' + reviewId + '_all');
        incrementElement('review_' + reviewId + '_' + value);
      })
      .fail(function() { parentElement.text('レビューの評価に失敗しました。'); })
      .always(function() { parentElement.css({ color: "#666" }); });
  }
  
  function incrementElement(id) {
    var element = $("#" + id);
    element.text(parseInt(element.text(), 10) + 1);
  }
  
  function addReviewListener() {
    reviewValueElements.on('click', sendReviewValue);
  }
  
  addReviewListener();
}();

</script>
