<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', opacplus_index_path %>
        </button>
        <h3 class="pull-right">Category : <%= @child_categories.name %></h3>
      </div>

<!-- inner contents - book basic information -->
        <ul class="media-list">
          <li class="media">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= @books.title %>
              </div>
              <div class="panel-body">
                <div class="pull-left">
                  <% if (@books.photo.url == "/photos/original/missing.png") then %>
                  <%= image_tag "/photos/original/missing.png", :width => '50', :alt => "image" %>
                  <% else %>
                  <%= image_tag @books.photo.url, :width => '50', :alt => "image" %>
                  <% end %>
                </div>
                <div class="media-body">
                  著者 ： <%= @books.auther %><br>
                  説明 ： <%= br(@books.outline) %><br>
                  評価 ： <% @books.value.times do %>★<% end %><% (5-@books.value).times do %>☆<% end %>
                </div>
              </div>
            </div>
          </li>
<!-- inner contents - book review -->
          <li class="media">
            <div class="panel panel-default">
              <% 3.times do %>
              <div class="panel-heading">
                Review Title
              </div>
              <div class="panel-body">
                <div class="media-body">
                  日時 ： Review Timestamp<br>
                  評価 ： Review Value_good, Value_bad<br>
                  コメント ： Review Comment
                </div>
              </div>
              <% end %>
            </div>
          </li>
        </ul>
    </div>
    
<!-- inner contents - back button -->
    <div class="text-center">
      <button type="button" class="btn btn-default">
        <%= link_to 'トップページに戻る', opacplus_index_path %>
      </button>
    </div>
  </div>

</div>