<!-- header -->
<div class="row">
  <div id="header">
      <h1 class="header_title">目的別検索 OPAC+</h1>
      <div class="header_intro">このページでは、図書館所蔵の本を目的別に探し、レビューを閲覧・投稿することができます。</div>
  </div>
</div>

<!-- sidemenu -->
<div class="row">
  <div class="col-md-3">
      <%= render 'category_menu' %>
  </div>

<!-- inner -->
  <div class="col-md-9">
    <div class="well">

<!-- inner title -->
      <div class="inner_title">
        <button type="button" class="btn btn-default">
          <%= link_to '戻る', opacplus_index_path %>
        </button>
        <h3 class="pull-right">Category : <%= @child_categories.name %></h3>
      </div>

      <ul class="media-list">
<!-- inner contents - book information -->
        <div class="book_info">
          <li class="media">
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= @books.title %>
              </div>
              <div class="panel-body">
                <div class="pull-left">
                  <% if (@books.photo.url == "/photos/original/missing.png") then %>
                  <% else %>
                  <%= image_tag @books.photo.url, :width => '50', :alt => "image" %>
                  <% end %>
                </div>
                <div class="media-body">
                  著者 ： <%= @books.auther %><br>
                  説明 ： <%= br(@books.outline) %><br>
                  評価 ： <% @books.value.times do %>★<% end %><% (5-@books.value).times do %>☆<% end %><br>
                  この本に付いているタグ : 
                  <% 8.times do |i| %>
                    <% unless (@books.send("tag" + i.to_s) == nil) then %>
                      <%= @books.send("tag" + i.to_s) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </div>

<!-- inner contents - book review -->
        <div class="book_review">
          <li class="media">
            <div class="panel panel-default">
              <% @books.reviews.each do |review| %>
              <div class="panel-heading">
                <%= review.title %>
              </div>
              <div class="panel-body">
                <div class="media-body">
                  投稿日時 : <%= review.date %><br>
                  この本に対する評価 : <% review.value_book.times do %>★<% end %><% (5-review.value_book).times do %>☆<% end %><br>
                  コメント : <%= br(review.comment) %><br>
                  <br>
                  <%= review.value_good + review.value_bad %>人中
                  <%= review.value_good %>人が「このレビューは参考になった」と言っています<br>
                  <%= review.value_bad %>人が「このレビューは参考にならない」と言っています
                  <div class="text-center">
                    このレビューは参考になりましたか？
                    <button type="button" class="btn btn-default">
                      はい
                    </button>
                    <button type="button" class="btn btn-default">
                      いいえ
                    </button>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </li>
        </div>
      </ul>

      <div class="text-center">
        <button type="button" class="btn btn-default">
          この本のレビューを書く
        </button>
      </div>
    </div>
  </div>
</div>