<% #coding: utf-8 %>

<div class="panel-heading">イベント一覧</div>

<div class="panel-body">
  <p><%= link_to 'イベント作成', new_event_path %></p>
  
  
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>写真</th>
        <th></th>
        <th></th>
      </tr>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.date.strftime("%Y年 %m月 %d日") %></td>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.intro %></td>
        <td><%= image_tag event.photo.url, :width=>'50' %></td>
        <td><%= link_to '編集', edit_event_path(event) %></td>
        <td><%= link_to '削除', event, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>