# coding: utf-8

<h1>Opac+ 親カテゴリ一覧</h1>

<%= link_to '親カテゴリ追加', new_category_path %> | <%= link_to '子カテゴリ追加', new_child_category_path %>

<p>

<table border='1'>
  <tr>
    <th>表示順序</th>
    <th>名前</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.priority %></td>
    <td><%= link_to category.name, category_path(category) %></td>
    <td><%= link_to '編集', edit_category_path(category) %></td>
    <td><%= link_to '削除', category, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
  </tr>
<% end %>
</table>

<br />

