# coding: utf-8

<h1><%= @category.name %> 詳細</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @category.name %>
</p>

<p>
  <b>説明:</b>
  <%= @category.description %>
</p>

<p>
  <b>階層:</b>
  <%= @category.level %>
</p>

<p>
  <b>表示順序:</b>
  <%= @category.priority %>
</p>

<p>
  <b>親カテゴリid:</b>
  <%= @category.parent %>
</p>


<%= link_to '編集', edit_category_path(@category) %> |
<%= link_to '戻る', categories_path %>
