<h1>Listing top</h1>


<table>
  <tr>
   <th>Photo</th>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>
 
  </tr>

<% Schedule.where(:type => Event).reverse_order.each do |schedule| %>
  <tr>
    
      <td><%= image_tag schedule.photo.url, :width=>'50' %></td>
      <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
      <td><%= schedule.title %></td>
      <td><%= schedule.intro %></td>
    

  </tr>
<% end %>
</table>


<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>
    <th>Photo</th>
  </tr>
<% Schedule.where(:type => Event).reverse_order.first(3).each do |schedule| %>
<tr>
    <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.intro %></td>
    <td><%= image_tag schedule.photo.url, :width=>'50' :alt => "画像" %></td>
  </tr>
<% end %>
</table>
<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>

  </tr>

<% Schedule.where(:type => "News").each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
    <td><%= schedule.title %></td>
  </tr>
<% end %>
</table>



<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Intro</th>

  </tr>

<% Schedule.where(:type => "Calendar").each do |schedule| %>
  <tr>
    <td><%= schedule.date.strftime("%y年 %m月 %d日") %></td>
    <td><%= schedule.title %></td>
    <td><%= schedule.intro %></td>
  </tr>
<% end %>
</table>


<br />
