<%#= 論文一覧表示 %>
<% if @theses != nil then %>
<table class="table table-striped" style="font-size: 0.7em;">
	<tbody>
	<tr>
		<th>タイトル</font></th>
		<th>著者</font></th>
		<th>学籍番号</th>
		<th>年度</th>
		<th>学群</th>
		<th>研究室</th>
		<th>課程</th>
	</tr>

	<!-- sample begin -->
	<% 5.times.each do %>
	<tr>
		<td>EPUBCFIを用いたデジタル教科書ビューアの開発</td>
		<td>安楽 優樹</td>
		<td>1130296</td>
		<td>2012</td>
		<td>情報学群</td>
		<td>妻鳥研究室</td>
		<td>学士</td>
	</tr>
	<% end %>
	<!-- sample end -->

	<% @theses.each do |thesis| %>
		<% if thesis.enabled %>
			<tr>
			<td><%= link_to thesis.title, :action => 'download' %></td>
			<td><%= thesis.author %></td>
			<td><%= thesis.student_id %></td>
			<td><%= thesis.year %></td>
			<td>
				<% if thesis.faculty %>
					<%= thesis.faculty.name %>
				<% else %>
					無所属
				<% end %>
			</td>
			<td>
				<% if thesis.lab %>
					<%= thesis.lab.name %>
				<% else %>
					無所属
				<% end %>
			</td>
			<td><%= thesis.course %></td>
			</tr>
		<% end %>
	<% end %>
</tbody>
</table>
<% end %>

<!--
<% if @theses != nil then %>
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<th>タイトル</font></th>
		<th>著者</font></th>
		<th>学籍番号</th>
		<th>年度</th>
		<th>学群</th>
		<th>研究室</th>
		<th>課程</th>
		<th>編集</th>
		<th>削除</th>
	</tr>

	<% @theses.each do |thesis| %>
		<% if thesis.enabled %>
			<tr>
			<td><%= link_to thesis.title, :action => 'download' %></td>
			<td><%= thesis.author %></td>
			<td><%= thesis.student_id %></td>
			<td><%= thesis.year %></td>
			<td>
				<% if thesis.faculty %>
					<%= thesis.faculty.name %>
				<% else %>
					無所属
				<% end %>
			</td>
			<td>
				<% if thesis.lab %>
					<%= thesis.lab.name %>
				<% else %>
					無所属
				<% end %>
			</td>
			<td><%= thesis.course %></td>
			<th><%= link_to '編集', edit_thesis_path(thesis) %></th>
			<th><%= link_to '削除', thesis_path(thesis), :method => :pute %></th>
			</tr>
		<% end %>
	<% end %>
</table>
<% end %>
-->