# coding: utf-8

<div class="panel-heading">研究室編集ページ</div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <% @faculties.each do |faculty| %>
  <%= faculty.name %>
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>No.</th>
        <th>研究室名</font></th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      
      <% @labs.each.with_index do |lab, i| %>
      <% if lab.faculty_id == faculty.id %>
        <tr>
          <td><%= i.next %></td>
          <td><%= lab.name %></td>
          <td><%= link_to'編集', edit_lab_path(lab) %></td>
          <td><%= link_to'削除', lab, :confirm => 
          	'削除しますか？(所属する論文は「無所属」となります)',
          							:method => :delete %></td>
          </tr>
      <% end %>
    	<% end %>
    </table>
  </div>
  
  <% end %>
  <p><%= link_to_function '戻る', 'history.back()' %>&nbsp;|
    <%= link_to '新規登録', new_lab_path %></p>
</div>

<%= javascript_include_tag 'cms_theses' %>