<%= simple_form_for(
			@thesis,
			html: { class: 'form-horizontal', role: 'form' }
		) do |f| %>
  
	<% if @thesis.errors.any? %>
		<ul>
 			<% @thesis.errors.full_messages.each do |msg| %>
 				<li><%= msg %></li>
 			<% end %>
 		</ul>
	<% end %>
	
	<div class="form-group">
		<%= f.label(
    		:title,
    		label: 'タイトル&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.text_field(
	    		:title,
	    		autofocus: true,
	    		class: 'form-control'
	    	) %>
    </div>
  </div>
	
	<div class="form-group">
		<%= f.label(
    		:author,
    		label: '著者&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.text_field(
	    		:author,
	    		class: 'form-control'
	    	) %>
    </div>
  </div>
  
  <div class="form-group">
		<%= f.label(
    		:student_id,
    		label: '学籍番号&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.text_field(
	    		:student_id,
	    		class: 'form-control'
	    	) %>
    </div>
  </div>
  
  <div class="form-group">
		<%= f.label(
    		:year,
    		label: '年度&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.text_field(
	    		:year,
	    		class: 'form-control'
	    	) %>
    </div>
  </div>
  
  <div class="form-group">
		<%= f.label(
    		:fuculty_id,
    		label: '学群&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.select :faculty_id,
						Faculty.all.map {|faculty|
							[faculty.name, faculty.id]
						},
						{ },
						{ id: 'facultys', class: 'form-control' }
						%>
    </div>
  </div>
  
  <div class="form-group">
		<%= f.label(
    		:lab_id,
    		label: '研究室&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.select :lab_id, [],
						{ :include_blank => '無所属' },
						{ id: 'labs', class: 'form-control' }
					 %>
    </div>
  </div>
  
  <div class="form-group">
		<%= f.label(
    		:course,
    		label: '課程&nbsp;:',
    		class: 'control-label col-sm-3'
    	) %>
    
    <div class="col-sm-8">
	    <%= f.select(
            :course,
            [['学士'], ['修士'], ['博士']],
            {}, { class: 'form-control' } ) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <%= f.button :submit, '送信', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<br>

<script>

!function() {
	var labsInitialCount = 1;
	var labsData = <%= raw Lab.all.to_json %>;
	var labsElement = $('#labs');
	var facultysElement = $('#facultys');
	
	function updateLabs() {
		// 以前のデータを削除
		var options = labsElement.find('option');
		
		for(var i = labsInitialCount; i < options.length; ++i) {
			$(options[i]).remove();
		}
		
		// 新規のデータを追加
		var facultyId = facultysElement.val();
		
		$.each(labsData, function(index, data){
			if (data.faculty_id == facultyId) {
				labsElement.append(
					$('<option />')
						.text(data.name)
						.attr('value', data.id)
				);
			}
		});
	}
	
	updateLabs();
	facultysElement.on('change', updateLabs)
}();

</script>
