# coding: utf-8
<div class="panel-heading">削除履歴</div>

<div class="panel-body">
  <p>論文の削除履歴の確認をすることができます。</p>
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <div class="table-container">
    <table class="table table-striped">
    	<tr>
    		<th>タイトル</font></th>
    		<th>著者</font></th>
    		<th>学籍番号</th>
    		<th>年度</th>
    		<th>研究室</th>
    		<th>復元</th>
    		<th>削除</th>
    	</tr>

    	<% @theses.each do |thesis| %>
    		<% if thesis.enabled == false %>
    		<tr>
    			<td><%= thesis.title %></td>
    			<td><%= thesis.author %></td>
    			<td><%= thesis.student_id %></td>
    			<td><%= thesis.year %></td>
    				<td>
    					<% if thesis.lab %>
    						<%= thesis.lab.name %>
    					<% else %>
    						無所属
    					<% end %>
    				</td>
    			<th><%= link_to '復元', thesis_path(thesis), :method => :pute %></th>
    			<th><%= link_to '削除', thesis, :confirm => 'この論文を削除しますか？',
    									:method => :delete %></th>
    		</tr>
    		<% end %>
    	<% end %>
    </table>
  </div>
  
  <p><%= link_to '戻る', :action => 'index' %></p>
</div>

<%= javascript_include_tag 'cms_theses' %>