# coding: utf-8
<div class="panel-heading"><%= @faculty.name %></div>

<div class="panel-body">

  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <%#= 研究室一覧表示 %>
  <table class="table table-striped">
  	<tr>
  		<% @labs.each do |lab| %>
  			<td><%= link_to lab.name, :controller => 'theses', :action => 'lab', :faculty_id => @faculty.id, :lab_id => lab.id %></td>
  		<% end %>
  	</tr>
  </table>
  
  <p><%= link_to "研究室の編集", :controller => 'labs', :action => 'index', :id => @faculty.id %></p>
  
  <%= render 'index' %>
  
  <p><%= link_to_function '戻る', 'history.back()' %></p>

</div>

<%= javascript_include_tag 'cms_theses' %>