# coding: utf-8
<div class="panel-heading"><%= @lab.name %></div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <%= render 'index' %>

  <%= link_to_function '戻る', 'history.back()' %>
</div>

<%= javascript_include_tag 'cms_theses' %>