# coding: utf-8
<div class="panel-heading"><%= @lab.name %></div>

<div class="panel-body">
  <p class="well well-sm fadeout-msg"><%= notice %></p>
  
  <%= render 'index' %>

  <%= link_to '戻る', :action => 'faculty', :id => @lab.faculty_id %>
</div>

<%= javascript_include_tag 'cms_theses' %>