# coding: utf-8

<h1>論文TOP</h1>

<table border="1" width="500" cellspacing="0" cellpadding="5">

<tr>
<th bgcolor="#FFFFFF">タイトル</th>
<th bgcolor="#FFFFFF">著者</th>
<th bgcolor="#FFFFFF">学籍番号</th>
<th bgcolor="#FFFFFF">年度</th>
<th bgcolor="#FFFFFF"></th>
</tr>

<% @theses.each do |thesis| %>

<tr>
<td bgcolor="#FFFFFF"><%= link_to thesis.title, 'https://www.google.co.jp/'%></td>
<td bgcolor="#FFFFFF"><%= thesis.author %></td>
<td bgcolor="#FFFFFF"><%= thesis.studentID %></td>
<td bgcolor="#FFFFFF"><%= thesis.year %></td>
<td bgcolor="#FFFFFF"><%= link_to '編集', edit_Thesis_path(Thesis) %></td>
</tr>

<% end %>

</table>

<%= link_to '新規', new_Thesis_path %>
