# coding: utf-8
<h1>蔵書追加承認</h1>

<div id="notice"><%= notice %></div>



<table border='1'>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>評価</th>
      <th>承認</th>
      <th>削除</th>
    </tr>

	<% Book.all.each do |book| %>
		<% if book.request == false %>
		   <tr>
		     <td><%= book.title %></td>
             <td><%= book.auther %></td>
		     <td><%= book.value %></td>
 			<th><%= link_to '承認', book_path(book), :method => :post %></th>
			<th><%= link_to '削除', book, :confirm => 'このレビューを削除しますか？', :method => :delete %></th>
		    </tr>
		<% end %>
	<% end %>
</table>


<%= link_to '戻る', books_path %>