<!DOCTYPE html>
<html>
	<head>
		<title>Kochi University of Technology</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<nav>
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to "Home", posts_path %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="list-group">
							<a href="#" class="list-group-item">Top page</a>
							<a href="#" class="list-group-item">Navigator</a>
							<a href="#" class="list-group-item">Navigator</a>
							<a href="#" class="list-group-item">Navigator</a>
							<a href="#" class="list-group-item">Navigator</a>
							<a href="#" class="list-group-item">Navigator</a>
							<a href="#" class="list-group-item">Navigator</a>
						</div>
					</div>
					<div class="col-md-9">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					Copyright © 2013 SP-Dream. All Rights Reserved.
				</p>
			</div>
		</div>
	</body>
</html>
