<%= form_for(@thesis) do |f| %>

	<% if @thesis.errors.any? %>
		<ul>
 			<% @thesis.errors.full_messages.each do |msg| %>
 				<li><%= msg %></li>
 			<% end %>
 		</ul>
	<% end %>

	<table border="1" width="350" cellspacing="0" cellpadding="5">
		<tr>
			<div class="field">
				<th>題名</th>
				<th><%= f.text_field :title %></th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>著者</th>
				<th><%= f.text_field :author %></th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>学籍番号</th>
				<th><%= f.text_field :student_id %></th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>年度</th>
				<th><%= f.text_field :year %></th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>学群</th>
				<th>
					<%= f.select :faculty_id,
						Faculty.all.map {|faculty|
							[faculty.name, faculty.id]
						},
						{ },
						{ :id => 'facultys' }
						%>
				</th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>研究室</th>
				<th>
					<%= f.select :lab_id, [],
						{ :include_blank => '無所属' },
						{ :id => 'labs' }
					 %>
				</th>
			</div>
		</tr>
		<tr>
			<div class="field">
				<th>課程</th>
				<th>
					<%= f.select :course, [['学士'], ['修士'], ['博士']]%>
				</th>
			</div>
		</tr>
	</table>

	<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<br>

<script>

!function() {
	var labsInitialCount = 1;
	var labsData = <%= raw Lab.all.to_json %>;
	var labsElement = $('#labs');
	var facultysElement = $('#facultys');
	
	function updateLabs() {
		// 以前のデータを削除
		var options = labsElement.find('option');
		
		for(var i = labsInitialCount; i < options.length; ++i) {
			$(options[i]).remove();
		}
		
		// 新規のデータを追加
		var facultyId = facultysElement.val();
		
		$.each(labsData, function(index, data){
			if (data.faculty_id == facultyId) {
				labsElement.append(
					$('<option />')
						.text(data.name)
						.attr('value', data.id)
				);
			}
		});
	}
	
	updateLabs();
	facultysElement.on('change', updateLabs)
}();

</script>