# coding: utf-8
<h1>削除履歴</h1>

<div id="notice"><%= notice %></div>

<table border="1" width="500" cellspacing="0" cellpadding="5">
	<tr>
		<th>タイトル</font></th>
		<th>著者</font></th>
		<th>学籍番号</th>
		<th>年度</th>
		<th>研究室</th>
		<th>復元</th>
		<th>削除</th>
	</tr>

	<% @theses.each do |thesis| %>
		<% if thesis.enabled == false %>
		<tr>
			<td><%= thesis.title %></td>
			<td><%= thesis.author %></td>
			<td><%= thesis.student_id %></td>
			<td><%= thesis.year %></td>
				<td>
					<% if thesis.lab %>
						<%= thesis.lab.name %>
					<% else %>
						無所属
					<% end %>
				</td>
			<th><%= link_to '復元', thesis_path(thesis), :method => :pute %></th>
			<th><%= link_to '削除', thesis, :confirm => 'この論文を削除しますか？',
									:method => :delete %></th>
		</tr>
		<% end %>
	<% end %>
</table>

<%= link_to '戻る', :back %>
<br>