<h1>削除履歴</h1>

<table border="1" width="500" cellspacing="0" cellpadding="5">
<tr>
<th>タイトル</font></th>
<th>著者</font></th>
<th>学籍番号</th>
<th>年度</th>
<th></th>
<th></th>
</tr>

<% @theses.each do |thesis| %>
<% if thesis.enabled == false %>
<tr>
<td><%= thesis.title %></td>
<td><%= thesis.author %></td>
<td><%= thesis.student_id %></td>
<td><%= thesis.year %></td>
<th><%= link_to '復元', edit_thesis_path(thesis) %></th>
<th><%= link_to '削除', thesis, :confirm => 'この論文を削除しますか?',
								:method => :delete %></th>
</tr>
<% end %>
<% end %>
</table>
<br>