# coding: utf-8
<h1>論文TOP</h1>

<div id="notice"><%= notice %></div>

<%#= 研究室一覧表示（リンク先はlabビュー） %>
<table border="1" cellspacing="0" cellpadding="5">
	<tr>
		<% @labs.each do |lab| %>
			<td><%= link_to lab.name, :controller => 'theses', :action => 'lab', :id => lab.id %></td>
		<% end %>
	</tr>
</table>

<br>

<%= link_to "研究室の編集", labs_path %>

<br><br>

<%= render 'index' %>

<br>

<%= link_to '新規登録', new_thesis_path %> | <%= link_to '削除履歴', deleted_theses_path %>